
.feed {

  font-weight: bold;
  @include font-size(12px);

  & .transactions {

    & div {
      display: block;

      & span{
        font-weight: normal;
        @include font-size(10px);
      }
    }
  }

}
