/* COLORS */
$primary-color: #CDCDCD;
$secondary-color: #292C2F;

$crimson: darken(#DC143C, 10%);
$white: #FFFFFF;
$blue: #0077B5;
$gray: #CDCDCD;
$yellow: #B2B200;
$black: #000000;

$light-gray: lighten($gray, 15%);

$dark-gray: darken($gray, 10%);

$success: lighten(#4CAF50, 10%);
$error: lighten(#b20000, 10%);


