
html {
  @include font-size(8px);

}

body {
  padding-top: 70px;
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;

  & main {

    & section {
      min-height: 800px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
}

.hidden {
  display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  html {
    @include font-size(10px);
  }

  body {
    padding-top: 70px;
    background-color: $primary-color;

    & main {

      & section {
        min-height: 800px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}