/* MIXINS */

/* RELATIVE FONT-SIZE */
@function calculateRem($size) {
  $remSize: $size / 10px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/* CROSS BROWSER - OPACITY */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* CROSS BROWSER - BORDER-RADIUS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* CROSS BROWSER -  TRANSITION */
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

/* CROSS BROWSER -  SHADOW */
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
     -moz-box-shadow: $args;
          box-shadow: $args;
}

/* CROSS BROWSER - ROTATE */
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
          transform: rotate($degrees);
}

/* CROSS BROWSER - TRANSLATEZ */
@mixin translate-z($value) {
  -webkit-transform: translateZ($value);
      -ms-transform: translateZ($value);
          transform: translateZ($value);
}

/* CROSS BROWSER - ANIMATE */
@mixin animate($args...) {
  -webkit-animation: $args;
          animation: $args;
}

