
p {
  @include font-size(10px);

  &.title {
    @include font-size(16px);
    color: $crimson;
  }

  &.company {
    @include font-size(12px);
  }

  &.justified {
    text-align: justify;
  }
}

span {

  &.tag {
    font-weight: bold;
    padding: 0 5px;
    float: left;

    &.odd {
      color: $crimson;
    }

    &.even {
      color: $black;
    }
  }
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}